*{
    margin: auto;
    font-family: "Inter";
    white-space: nowrap;  
}

#Logo{
    width: 5rem;
    margin: 3rem;
    margin-bottom: 0rem;
}

#Title{
    margin-left: 9.5rem;
    margin-top: 4.5rem;   
}

#Paragraph{
    margin-left: 9.5rem;
    margin-top: 2rem;
    padding-bottom: 6.3rem;
}

#Header{
    background-image: url(imagens/logoBackground.svg);
    color: white;
    max-width: 95.1rem;   
}

#InformationalHeader{
    background-color: #EAECE5;
    max-width: 95.1rem;
    height: 6.8rem;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
    text-align: center;
}

.icone{
    margin: 0rem 0.9rem -0.8rem 0rem;
}


#videoSection{
    display: grid;
    grid-auto-flow: column;
    grid-column: auto;
    justify-content: center;
    gap: 4.7rem;
    padding: 4.7rem 6.25rem 4.7rem 6.25rem;
}

#videoTitle{
    color: #247BA0;
}

#Video{
    margin: 0rem 0rem 0rem 0rem
}

#carousel{
    background: linear-gradient(#558CFF, #276BFF);  
    padding: 3.1rem;
    max-width: 95.1rem;
}

#carouselTitle{
    color: #EAECE5;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3.1rem;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 3.1rem;
}

.cards{
    margin-left: 3.1rem;
}

#leftArrow{
    display: none;
}

#bruna{
    display: none;
}

.seta{
    margin-top: 55%;
    cursor: pointer;
}

#leftArrow:hover {
    transform: translateX(-10px);
    transition: 0.5s;
}

#rightArrow:hover {
    transform: translateX(+10px);
    transition: 0.5s;
}

#form{
    text-align: center;
}

#titleForm {
    font-size: 1.5rem;
    margin: 1.5rem;
    color: #383838;
}

input {
    border-radius: 8px;
    width: 20.3rem;
    height: 2.5rem;
    margin: 1.25rem;
    padding-left: 0.625rem;
    background-color: #EAECE5;
    border: 0rem;
    transition: 0.5s;
}

input:focus {
    box-shadow: 0rem 0rem 0.625rem #3399ff;
}

button {
    color: #EAECE5; 
    width: 15.625rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 0.9375rem;
    margin-bottom: 3.125rem;  
    border: 0rem;
    background: linear-gradient(#558CFF, #276BFF);  
}

button:hover {
    transform: scale3d(1.1, 1.1, 0.1);
    box-shadow: 0rem 0.9375rem 1.25rem #00000080;
}